body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background: #fff;
}
ul, ol {
    list-style: none;
    margin: 0;
    padding: 0;
}
img {
    display: block;
}
a {
    text-decoration: none;
}
.logo {
    font-family: "Raleway", sans-serif;
font-weight: 700;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4d5ae5;
}
.header-logo {
    margin-right: 76px;
    padding: 24px 0;
    
}
.header-logo .logo-part {
  color: #2e2f42; 
  }
  .footer-logo {
margin-bottom: 16px;
  }
.footer-logo .logo-part {
color: #f4f4fd;
}
.nav-link {
display: block;
padding: 24px 0;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #2e2f42; 
}
.nav-link:hover,
.nav-link:focus{
   color: #404bbf; 
}
.contacts{
    font-style: normal;
    margin-left: auto;
}

.contacts-link:hover,
.contacts-link:focus {
    color: #404bbf;
}
.section-hero {
    background: #2e2f42;
    padding-top: 188px;
    padding-bottom: 188px;
}
.title-hero {
font-size: 56px;
line-height: 1.07;
letter-spacing: 0.02em;
text-align: center;
color: #ffffff;
}
.form-button {
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color: #fff;
        background-color: #4d5ae5;
     cursor: pointer;
}
.form-button:hover,
.form-button:focus {
background-color: #404BBF;
}

.title-advantages {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
}
.description-advantages {
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
}
.our-team {
   background-color: #f4f4fd;
}
.title-our-team {
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
text-transform: capitalize; 
}
.personal-information {
 background-color: #FFFFFF;
 box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
background: #fff;
}

.personal-name {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
margin-bottom: 8px;
}

.description-proffesion {
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
text-align: center;
}

.title-portfolio {
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
text-transform: capitalize; 
}
.name-portfolio {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
margin-bottom: 8px;
}
.description-portfolio {
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
}

.page-footer {
    background-color: #2e2f42;
}
.description-footer {
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #f4f4fd;
}
h1, h2, h3,h4, h5, h6, p {
    margin: 0;
}
.container {  
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}
.page-header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}
.header-container {
    display: flex;
    align-items: center;
}
.header-nav {
    display: flex;
    align-items: center; 
}
.nav-list {
    display: flex;
    align-items: center; 
    gap: 40px;
}
.contacts-list {
   display: flex;
    align-items: center; 
    gap: 40px;
}
.contacts-link {
display: block;
padding: 24px 0;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}
.section-hero{
    padding-top: 188px; 
    padding-bottom: 188px;
}
.title-hero {
    max-width: 496px;
    margin: 0 auto;
}
.form-button {
    display: block;
     min-width: 169px;
height: 56px;
border: none;
border-radius: 4px;
background: #4d5ae5;
margin: 0 auto;
cursor: pointer;
margin-top: 48px;
}
.form-button:hover {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: 404BBF;
}
.section-advantages {
    padding-top: 120px;
    padding-bottom: 120px;
}

.advantages-list {
    display: flex; 
    gap: 24px;
}
.advantages-item {
    width: calc((100% - 72px) / 4);
}
.title-advantages {
    margin-bottom: 8px;
}

.our-team {
    padding: 120px 0;
}
.title-our-team {
    margin-bottom: 72px;
}
.team-list {
    display: flex;
    gap: 24px;
    max-width: 1128px;
    margin: 0 auto;
   
}
.personal-information {
     width: calc((100% - 72px) / 4);
     border-radius: 0 0 4px 4px;
}
.personal-information-container {
    padding: 32px 0;
}
.section-our-portfolio {
    padding: 120px 0;
}
.title-portfolio {
    margin-bottom: 72px;
}
.portfolio-list {
    display: flex;
    max-width: 1128px;
    flex-wrap: wrap;
    margin: 0 auto;
    column-gap: 24px;
    row-gap: 48px;
}
.portfolio-items {
    width: calc((100% - 48px) / 3);
}

.description-portfolio-container {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.page-footer {
padding: 100px 0;
}
.footer-logo {
     display: inline-block;
}
 .logo footer-logo {
    margin-bottom: 16px;
 }
 .description-footer {
    max-width: 264px;    
 }
.visually-hidden {
position: absolute;
width: 1px;
height: 1px;
margin: -1px;
border: 0;
padding: 0;
white-space: nowrap;
clip-path: inset(100%);
clip: rect(0 0 0 0);
overflow: hidden;
}

.section-hero {
    max-width: 1440px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero\ image.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0 auto;
}

.advantages-icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
margin-bottom: 8px;
background: #f4f4fd;
border: 1px solid #8e8f99;
border-radius: 4px;
width: 264px;
height: 112px;
}
.icon-social-networks {
    width: 40px;
    height: 40px;
}
.social-networks {
  display: flex;
    justify-content: center;
    align-items: center;
   gap: 24px;   
}
.social-networks-link {
width: 100%;
height: 100%;
background-color: 4D5AE5;
border-radius: 50%;
}
